gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.5
matplotlib>=1.4.3
scikit-learn==22.1
pandas==1.0.5
Flask==1.1.2
requests==2.24.0
numpy==1.17.0
beautifulsoup4==4.10.0
